@model AceBookApp.Models.Result

<html>
    <head>
        <script>
            @if (TempData["AlertMessage"] != null)
            {
                <text>
                    alert('@TempData["AlertMessage"]');
                    window.location.href = '@TempData["RedirectUrl"]';
                </text>
            }
        </script>
    </head>
    <body></body>
</html>
