
<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous">
    </script>
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> *@
    <script src="~/js/Friend.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Feed.css" />
    <link href="~/css/friend.css" rel="stylesheet" />
</head>

<!--friends page-->
<div class="FriendsDiv">
    <!--left side - frineds menu-->
    <div class="FriendsMenuDiv">
        <div class="FriendsMenuHeaderDiv">
            <h1 class="FriendsMenuHeaderA">Friends</h1>
        </div>

        <!--shows friend requests on right side-->
        <div class="FriendsMenuRequestsDiv">
            <img class="FriendsMenuRequestsImg" alt="friend req img" src="~/images/friendreqicon.png" />
            <a class="FriendsMenuRequestsA">Friend Requests</a>
        </div>

        <!--shows all friends-->
        <div class="FriendsMenuAllFriendsDiv">
            <img class="FriendsMenuAllFriendsImg"alt="all friends img" src="~/images/allfriendsicon.png" />
            <a class="FriendsMenuAllFriendsA">All Friends</a>
        </div>

        <img class="backArrow" alt="back arrow" src="~/images/backarrowicon.png" />
        <div class="FriendsMenuFriendListDiv"></div>
    </div>

    <!--right side - friend requests-->
    <div class="FriendsResultDiv">
        <span class="FriendsResultHeader">Friend Requests</span>
        <div class="FriendsResult"></div>
        <div class="FriendProfileDiv" id="myID">
            <object id="profileLoader" data=" " style="width:100vw; height:100vh;"></object>
        </div>
        <div class="NoReq"></div>
    </div>
</div>
