@{
    Layout = "";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Failure.css" />
</head>
<body>
    <!--login failure Page-->
    <div class="FailureMsgDiv">
        <h2 class="FailureMsg1">Account doesn't exists or invalid password</h2>
        <h3 class="FailureMsg2">Please try again or create a new account</h3>
        <h4 class="backToLoginBtn" type="button" onclick="location.href='@Url.Action("Login","Home")'">Back to login page</h4>
    </div>
</body>
</html>