body {
    background-color: #e9ebee;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#sidetext {
    flex: 1;
    min-width: 250px;
    max-width: 500px;
    margin-right: 90px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login {
    background-color: white;
    padding: 24px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    width: 100%;
    max-width: 370px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    height: 50px;
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 17px;
    color: #1d2129;
    padding: 15px;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border: 1px solid #1877f2;
}

#password {
    margin-top: 15px;
}

#loginbtn {
    margin-top: 15px;
    width: 100%;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 46px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#forgotpass {
    margin-top: 17px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

#createbtndiv {
    border-top: 1px solid #dddfe2;
    text-align: center;
}

#createbtn {
    margin-top: 30px;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    border: none;
    line-height: 47px;
    border-radius: 6px;
    width: 200px;
    font-size: 17px;
    cursor: pointer;
}

h2 {
    font-size: 3rem;
    color: #1877f2;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 900;
    margin: 0 0 10px 0;
}

#note1, #note2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: 100;
    margin: 0px;
}

@media (max-width: 1000px){
    body {
        margin: 2vw
    }
}

@media (max-width: 900px) {
    body {
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
    }

    #sidetext {
        margin-right: 0;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    #login {
        margin: 0 auto;
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 2rem;
    }

    #note1, #note2 {
        font-size: 1rem;
    }

    #login {
        padding: 16px 8px;
    }
}
