body {
    margin: 0;
    padding-bottom: 50px;
    overflow-x: hidden;
}


.myProfileHeaderDiv {
    background-color: white;
    height: 675px;
    width: 100%;
    margin: 0px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.15);
}

.myProfileHeaderCoverImg {
    position: relative;
    top: 42px;
    left: 210px;
    width: 1100px;
    height: 412px;
    border-radius: 8px;
}

.myProfileHeaderProfile {
    position: relative;
    left: 240px;
    top: -25px;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: white;
}

.myProfileHeaderProfileImg {
    position: relative;
    left: 5px;
    top: 5px;
    height: 165px;
    width: 165px;
    border-radius: 50%;
}

.myProfileHeaderMyDetails {
    position: relative;
    left: 430px;
    top: -170px;
}

.myProfileHeaderMyDetailsName {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.myProfileHeaderMyDetailsFriendsCountDiv, .postOptionLeftFriendsCountDiv {
    position: relative;
    top: -20px;
}

.postOptionLeftFriendsCountDiv {
    left: 20px;
}

.myProfileHeaderMyDetailsFriendsCount, .postOptionLeftFriendsCount {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #65676B;
}

.postOptionLeftFriendsCount {
    font-size: 16px;
}

.myProfileHeaderCoverEditBtnDiv {
    position: relative;
    padding-left: 5px;
    left: 1117px;
    background-color: white;
    height: 36px;
    width: 155px;
    top: -10px;
    border-radius: 8px;
    display: flex;
}

.myProfileHeaderCoverEditBtn, .myProfileHeaderProfileEdit, .myProfileHeaderProfileAddFriend, .myProfileHeaderProfileCancelReq, .myProfileHeaderProfileFrndAccepted {
    position: relative;
    left: 16px;
    width: 120px;
    background-color: transparent;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 8px;
}

.myProfileHeaderProfileFrndAccepted {
    left: -4px;
}

.myProfileHeaderProfileAddFriend, .myProfileHeaderProfileCancelReq {
    color: white;
}

.myProfileHeaderCoverEditBtnImg{
    height: 18px;
    width: 16px;
    position: relative;
    top: 9px;
    left: 10px;
}

.myProfileHeaderProfileAddFriendDiv, .myProfileHeaderProfileCancelReqDiv {
    position: relative;
    left: 1155px;
    top: -185px;
    background-color: #1B74E4;
    height: 36px;
    border-radius: 8px;
    width: 120px;
    display: flex;
}

.myProfileHeaderProfileCancelReqDiv {
    left: 1125px;
    width: 150px;
}

.myProfileHeaderProfileEditDiv, .myProfileHeaderProfileFrndAcceptedDiv {
    position: relative;
    left: 1155px;
    top: -185px;
    background-color: #E4E6EB;
    height: 36px;
    border-radius: 8px;
    width: 120px;
    display: flex;
}

.myProfileHeaderProfileFrndAcceptedDiv {
    width: 95px;
    left: 1185px;
}

.myProfileHeaderProfileEditDiv:hover, .myProfileHeaderCoverEditBtnDiv, .myProfileHeaderProfileAddFriendDiv:hover, .myProfileHeaderProfileCancelReqDiv:hover{
    cursor: pointer;
}

.myProfileHeaderProfileEdit, .myProfileHeaderProfileAddFriend, .myProfileHeaderProfileCancelReq {
    left: -5px;
}

.myProfileHeaderProfieUploadImg {
    position: relative;
    z-index: 1;
    top: -42px;
    left: 132px;
    height: 36px;
    width: 36px;
}

.myProfileHeaderProfileEditBtnImg {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.myProfileHeaderProfileFrndAcceptedImg {
    height: 25px;
    width: 25px;
    padding: 6px 6px 8px 7px;
}

.myProfileHeaderProfileCancelReqImg {
    height: 22px;
    width: 22px;
    padding: 8px;
}

.myProfileHeaderOptionsDiv {
    position: relative;
    height: 56px;
    top: -150px;
    width: 1030px;
    left: 245px;
    border-top: 1px solid lightgray;
}

.myProfileHeaderOptionsDiv {
    display: flex;
}

.myProfileHeaderOptionsPostsDiv, .myProfileHeaderOptionsAboutDiv, .myProfileHeaderOptionsFriendsDiv, .myProfileHeaderOptionsPhotosDiv {
    width: 70px;
    margin: 4px 0px 6px 0px;
    border-radius: 8px;
    height: 90%
}

.myProfileHeaderOptionsPostsDiv:hover, .myProfileHeaderOptionsAboutDiv:hover, .myProfileHeaderOptionsFriendsDiv:hover, .myProfileHeaderOptionsPhotosDiv:hover, .aboutSectionLeftOverview:hover, .aboutSectionLeftWork:hover, .aboutSectionLeftPlace:hover, .aboutSectionLeftContact:hover, .aboutSectionLeftFamily:hover{
    background-color: #ECECEC;
    cursor: pointer;
}

.myProfileHeaderOptionsPostsOuterDiv, .myProfileHeaderOptionsAboutOuterDiv, .myProfileHeaderOptionsFriendsOuterDiv, .myProfileHeaderOptionsPhotosOuterDiv {
    height: 56px;
}

.myProfileHeaderOptionsPosts, .myProfileHeaderOptionsAbout, .myProfileHeaderOptionsFriends, .myProfileHeaderOptionsPhotos {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #65676B;
    position: relative;
    top: 18px;
}

.myProfileHeaderOptionsPosts {
    padding-left: 18px;
}

.myProfileHeaderOptionsAbout {
    padding-left: 14px;
}

.myProfileHeaderOptionsFriends {
    padding-left: 11px;
}

.myProfileHeaderOptionsPhotos {
    padding-left: 13px;
}

.aboutSectionDiv {
    background-color: white;
    margin: 17px 240px 0px 240px;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.15);
    display: flex;
}

.aboutSectionLeftDiv {
    border-right: 1px solid lightgray;
    width: 290px;
}

.aboutSectionLeftHeader, .postOptionLeftHeaderDiv, .postOptionLeftFriendsHeader, .postOptionLeftPhotosHeader {
    padding: 10px 0px 15px 20px;
    margin: 0px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.postOptionLeftFriendsHeader, .postOptionLeftPhotosHeader {
    position: relative;
    top: 10px;
}

.aboutSectionLeftOverview, .aboutSectionLeftWork, .aboutSectionLeftPlace, .aboutSectionLeftContact, .aboutSectionLeftFamily {
    margin: 0px 5px 5px 5px;
    padding: 4px 0px 0px 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    color: #65676B;
    height: 29px;
    font-size: 16px;
    border-radius: 5px;
}

.aboutSectionRightWorkHeader, .aboutSectionRightPlaceHeader, .aboutSectionRightContactHeader, .aboutSectionRightFamilyHeader {
    padding: 12px 10px 10px 15px;
    margin: 0px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.aboutSectionRightWorkAddDiv1, .aboutSectionRightWorkAddDiv2, .aboutSectionRightWorkAddDiv3, .aboutSectionRightPlaceAddDiv, .aboutSectionRightContactAddDiv1, .aboutSectionRightContactAddDiv2, .aboutSectionRightFamilyAddDiv {
    display: flex;
}

.aboutSectionRightWorkAddImg, .aboutSectionRightPlaceAddImg, .aboutSectionRightContactAddImg, .aboutSectionRightFamilyAddImg {
    height: 28px;
    width: 30px;
    padding: 5px 0px 0px 12px;
}

.aboutSectionRightWorkAdd, .aboutSectionRightPlaceAdd, .aboutSectionRightContactAdd, .aboutSectionRightFamilyAdd {
    margin: 0px;
    padding: 8px 0px 10px 10px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #1876F2
}

.aboutSectionRightWorkAdd:hover, .aboutSectionRightPlaceAdd:hover, .aboutSectionRightContactAdd:hover, .aboutSectionRightFamilyAdd:hover {
    text-decoration: underline;
}

.aboutSectionRightWorkAddDiv1:hover, .aboutSectionRightWorkAddDiv2:hover, .aboutSectionRightWorkAddDiv3:hover, .aboutSectionRightPlaceAddDiv:hover, .aboutSectionRightContactAddDiv1:hover, .aboutSectionRightContactAddDiv2:hover, .aboutSectionRightFamilyAddDiv:hover, .aboutSectionRightWorkAddInput1a:hover, .aboutSectionRightWorkAddInput1b:hover, .aboutSectionRightWorkAddInput2a:hover, .aboutSectionRightWorkAddInput2b:hover, .aboutSectionRightWorkAddInput3a:hover, .aboutSectionRightWorkAddInput3b:hover, .aboutSectionRightPlaceAddInput1a:hover, .aboutSectionRightPlaceAddInput1b:hover, .aboutSectionRightContactAddInput1a:hover, .aboutSectionRightContactAddInput1b:hover, .aboutSectionRightContactAddInput2a:hover, .aboutSectionRightContactAddInput2b:hover {
    cursor: pointer;
}

.aboutSectionRightWorkAddInput11, .aboutSectionRightWorkAddInput12, .aboutSectionRightWorkAddInput13, .aboutSectionRightWorkAddInput2, .aboutSectionRightWorkAddInput3, .aboutSectionRightPlaceAddInput1, .aboutSectionRightContactAddInput1, .aboutSectionRightContactAddInput2 {
    height: 55px;
    width: 690px;
    margin-top: 10px;
    position: relative;
    left: 15px;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 15px;
    font-size: 15px;
}

.aboutSectionRightWorkAddInput1a, .aboutSectionRightWorkAddInput1b, .aboutSectionRightWorkAddInput2a, .aboutSectionRightWorkAddInput2b, .aboutSectionRightWorkAddInput3a, .aboutSectionRightWorkAddInput3b, .aboutSectionRightPlaceAddInput1a, .aboutSectionRightPlaceAddInput1b, .aboutSectionRightContactAddInput1a, .aboutSectionRightContactAddInput1b, .aboutSectionRightContactAddInput2a, .aboutSectionRightContactAddInput2b {
    position: relative;
    left: 560px;
    height: 37px;
    width: 70px;
    border: none;
    border-radius: 8px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 8px 0px 8px 0px;
}

.aboutSectionRightWorkAddInput11:focus, .aboutSectionRightWorkAddInput12:focus, .aboutSectionRightWorkAddInput13:focus, .aboutSectionRightWorkAddInput2:focus, .aboutSectionRightWorkAddInput3:focus, .aboutSectionRightPlaceAddInput1:focus, .aboutSectionRightContactAddInput1:focus, .aboutSectionRightContactAddInput2:focus {
    outline: none;
}

.aboutSectionRightWorkResult1Img, .aboutSectionRightWorkResult2Img, .aboutSectionRightWorkResult3Img, .aboutSectionRightPlaceResult1Img, .aboutSectionRightContactResult1Img, .aboutSectionRightContactGenderMale, .aboutSectionRightContactGenderFemale, .aboutSectionRightContactDOBImg, .postOptionLeftWorkImg, .postOptionLeftCollegeImg, .postOptionLeftPlaceImg, .postOptionLeftContactImg {
    height: 32px;
    width: 34px;
    padding: 0px 0px 0px 12px;
    position: relative;
    top: 3px;
}

.aboutSectionRightWorkResult1aSpan, .aboutSectionRightWorkResult2aSpan, .aboutSectionRightWorkResult3aSpan, .aboutSectionRightPlaceResult1aSpan, .aboutSectionRightContactResult1aSpan, .aboutSectionRightContactGenderValue1Male, .aboutSectionRightContactGenderValue1Female, .aboutSectionRightContactDOB1aSpan, .aboutSectionRightOverviewWork1aSpan, .aboutSectionRightOverviewCollegeSpan, .aboutSectionRightOverviewPlaceSpan, .aboutSectionRightOverviewContactSpan, .postOptionLeftWork1aSpan, .postOptionLeftCollegeSpan, .postOptionLeftPlaceSpan, .postOptionLeftContactSpan {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #050505;
    font-weight: 400;
    position: relative;
    top: -10px;
}

.aboutSectionRightWorkResult1bSpan, .aboutSectionRightContactGenderValue2, .aboutSectionRightContactDOB1bSpan, .aboutSectionRightOverviewWork1bSpan, .postOptionLeftWork1bSpan {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #65676B;
    font-weight: 400;
    position: relative;
    left: 50px;
    top: -10px;
}

.aboutSectionRightWorkResultDiv1, .aboutSectionRightWorkResultDiv2, .aboutSectionRightWorkResultDiv3, .aboutSectionRightContactResultDiv1 {
    padding-bottom: 5px;
}

.aboutSectionRightOverviewDiv {
    padding-top: 30px;
}

.aboutSectionRightFriendsDiv, .aboutSectionRightPhotosDiv {
    background-color: white;
    margin: 15px 240px 0px 240px;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.15);
}

.aboutSectionRightFriendsHeaderDiv, .aboutSectionRightPhotosHeaderDiv {
    font-size: 20px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 0px 0px 15px 20px;
    margin: 0px;
    position: relative;
    top: 19px;
    display: flex;
}

.aboutSectionRightFriendsHeaderFrndReqDiv, .postOptionLeftFriendsHeaderAllFrndDiv, .postOptionLeftPhotosHeaderAllPhotosDiv {
    color: #1876F2;
    font-size: 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    position: relative;
    left: 755px;
    padding: 5px 12px 7px 12px;
    border-radius: 5px;
}

.postOptionLeftFriendsHeaderAllFrndDiv, .postOptionLeftPhotosHeaderAllPhotosDiv {
    left: 303px;
    position: relative;
    top: -15px;
    width: 93px;
}

.aboutSectionRightFriendsHeaderFrndReqDiv:hover, .postOptionLeftFriendsHeaderAllFrndDiv:hover, .postOptionLeftPhotosHeaderAllPhotosDiv:hover {
    background-color: #ECECEC;
    cursor: pointer;
}

.aboutSectionRightFriendsOptions1Div, .aboutSectionRightPhotosOptions1Div {
    color: #1876F2;
    font-size: 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 30px 5px 17px 17px;
    border-bottom: 3px solid #1876F2;
    width: 80px;
    position: relative;
    left: 20px;
}

.aboutSectionRightFriendsListDiv {
    display: grid;
    grid-template-columns: auto auto;
}

.aboutSectionRightFriendsListDiv, .aboutSectionRightPhotosListDiv {
    padding: 15px;
}

.frndAcc {
    padding: 15px;
    border: 1px solid #F2F3F5;
    border-radius: 5px;
    display: flex;
    margin: 0px 7px 7px 0px;
}

.frndAccPost {
    margin: 0px 12px 35px 0px;
    cursor: pointer
}

.frndAcc:hover {
    cursor: pointer;
}

.frndAccImg{
    height: 80px;
    width: 80px;
    border-radius: 8px;
}

.frndAccPostImg {
    height: 120px;
    width: 120px;
    border-radius: 8px;
}

.frndAccName {
    font-size: 17px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    position: relative;
    top: 25px;
    left: 15px;
}

.frndAccPostName {
    font-size: 13px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    position: relative;
    top: 5px;
    left: 2px;
}

.aboutSectionRightPhotosListDiv {
    display: grid;
    grid-template-columns: 201px 201px 201px 201px 201px;
}

.ImgDiv {
    margin: 0px 7px 7px 0px;
}

.myPhotos {
    height: 182px;
    width: 182px;
    border-radius: 5px;
}

.myPhotosPost {
    height: 123px;
    width: 123px;
    border-radius: 5px;
}

.postOptionLeftDiv1, .postOptionLeftDiv2, .postOptionLeftDiv3 {
    background-color: white;
    width: 425px;
    margin: 17px 17px 0px 245px;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.15);
    padding-bottom: 15px;
}

.postOptionLeftDiv3 {
    padding-bottom: 0px;
}

.postOptionLeftFriendsListDiv, .postOptionLeftPhotosListDiv {
    display: grid;
    grid-template-columns: 132px 132px 132px;
    padding: 0px 21px 0px 21px;
}

.postOptionLeftPhotosListDiv {
    padding: 10px 21px 0px 21px;
}

.myPost {
    width: 593px;
    background-color: white;
    margin: 17px 0px 0px 0px;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.15);
    /*position: relative;*/
}

.postOptionDiv {
    display: flex;
}

.postOptionLeftDiv1 {
    position: sticky;
    top: -350px;
}

.postOptionLeftDiv2 {
    position: sticky;
    top: -105px;
}

.postOptionLeftDiv3 {
    position: sticky;
    top: 255px;
}

.myPostDetails {
    height: 70px;
}

.myPostImg {
    height: 42px;
    width: 42px;
    /*padding: 13px 0px 0px 17px;*/
    position: relative;
    left: 16px;
    top: 12px;
    border-radius: 21px;
}

.myPostNameDiv {
    padding: 10px 0px 0px 66px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: -37px;
}

.myPostDate {
    font-size: 12px;
    padding: 3px 0px 0px 66px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    color: dimgrey;
    position: relative;
    top: -37px;
}

.myPostCaption {
    position: relative;
    padding-left: 17px;
    top: 8px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    position: relative;
    top: -32px;
}

.myPost .myActualPost {
    width: 593px;
    height: 593px;
    object-fit: cover;
}

.myLikedNamesParent {
    position: relative;
}

.myLikedNames {
    position: absolute;
    z-index: 1;
    bottom: -8px;
    background-color: rgba(0,0,0,.5);
    left: 37px;
    color: white;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.myLikeCommentCount {
    height: 40px;
}

.myLikeCount {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    color: dimgrey;
    font-size: 15px;
    font-weight: 100;
    position: relative;
    top: -47px;
    left: 42px;
    width: 125px;
    cursor: pointer;
}

.myLikeComment {
    /*padding: 9px 0px 10px 0px;*/
    padding: 3px 0px 3px 0px;
    margin: 0px 15px 0px 15px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    height: 33px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    color: #65676b;
    font-weight: bold;
    font-size: 15px;
    /*display: flex;*/
    /*position: relative;*/
}

.myLikeDiv, .myCommentDiv {
    width: 280px;
    height: 20px;
    padding: 6px 0px 7px 0px;
}

.myLikeDiv:hover, .myCommentDiv:hover {
    background-color: #ECECEC;
    border-radius: 3px;
    cursor: pointer;
}

.myLike {
    padding-left: 117px;
    /*padding: 9px 0px 10px 117px;*/
}

.myComment {
    position: relative;
    top: -4px;
    padding-left: 95px;
}

.myCommentDiv {
    position: relative;
    top: -33px;
    float: right;
}

.myLikeBtnImg {
    float: left;
    height: 20px;
    width: 24px;
    position: relative;
    left: 112px;
    /*padding: 9px 0px 10px 117px;*/
}

.myPostLike {
    height: 23px;
    width: 23px;
    padding: 10px 10px 10px 15px;
}

.myAddCommentDiv {
    height: 50px;
}

.myCommentProfileImg {
    height: 34px;
    width: 34px;
    border-radius: 17px;
    position: relative;
    top: 8px;
    left: 15px;
}

.myAddComment:focus {
    outline: none;
    border: 0px;
}

.myAddComment {
    height: 36px;
    width: 521px;
    position: relative;
    border: 0px;
    border-radius: 30px;
    /*background-color: #e9ebee;*/
    background-color: #F0F2F5;
    font-size: 15px;
    color: #1d2129;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    margin: 8px;
    top: -35px;
    left: 50px;
    padding-left: 10px;
}

.myCommentBtnImg {
    /*    float: left;*/
    height: 20px;
    width: 22px;
    position: relative;
    left: 92px;
    top: 2px;
    /*padding: 9px 0px 10px 117px;*/
}

.searchFeedSettingDiv {
    background-color: white;
    position: absolute;
    left: 1150px;
    top: 55px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 0.20);
    padding-bottom:10px;
}

.searchFeedSettingProfileNameDiv {
    display: flex;
    background-color: white;
    margin: 12px 12px 17px 12px;
    border-radius: 8px;
    padding: 15px 10px 15px 10px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 0.25);
}

.searchFeedSettingProfileImg {
    height: 37px;
    width: 37px;
    border-radius: 50%;
}

.searchFeedSettingProfileName {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 5px 0px 0px 8px;
    font-size: 17px;
}

.searchFeedSettingOptionDiv, .searchFeedSettingLogoutOptionDiv {
    padding: 8px 5px 8px 5px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 5px 10px 5px 10px;
    border-radius: 8px;
}

.searchFeedSettingOptionDiv:hover, .searchFeedSettingLogoutOptionDiv:hover, .searchFeedSettingProfileNameDiv:hover {
    background-color: #ECECEC;
    cursor: pointer;
}

.searchFeedSettingOptionDiv, .searchFeedSettingLogoutOptionDiv {
    display: flex;
}

.searchFeedSettingOptionImg, .searchFeedSettingLogoutOptionImg {
    height: 35px;
    width: 35px;
}

.searchFeedSettingOption, .searchFeedSettingLogoutOption {
    position: relative;
    left: 8px;
    top: 8px;
}